body {
  background-color: rgb(223, 210, 210);
}
:root {
  --glow-color: #212529;
  --nav-color: #0a61bd;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

a #Mu {
  font-family: 'Exo', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #df383f;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.field {
  background: #050621;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: clamp(100%, 10%, 500px);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.shapes li {
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.shapes li:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 25%;
  animation-delay: 0s;
}

.shapes li:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 10%;
  animation-delay: 2s;
  animation-duration: 12s;
}

.shapes li:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 70%;
  animation-delay: 4s;
}

.shapes li:nth-child(4) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 0s;
  animation-duration: 18s;
}

.shapes li:nth-child(5) {
  width: 20px;
  height: 20px;
  left: 65%;
  animation-delay: 0s;
}

.shapes li:nth-child(6) {
  width: 110px;
  height: 110px;
  left: 75%;
  animation-delay: 3s;
}

.shapes li:nth-child(7) {
  width: 150px;
  height: 150px;
  left: 35%;
  animation-delay: 7s;
}

.shapes li:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}

.shapes li:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}

.shapes li:nth-child(10) {
  width: 150px;
  height: 150px;
  left: 85%;
  animation-delay: 0s;
  animation-duration: 11s;
}

.shapes li:nth-child(11) {
  width: 50px;
  height: 50px;
  left: 55%;
  animation-delay: 8s;
  animation-duration: 12s;
}

.shapes li:nth-child(12) {
  width: 30px;
  height: 30px;
  left: 17%;
  animation-delay: 6s;
  animation-duration: 18s;
}

@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }

  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

nav {
  font-family: "Audiowide", sans-serif;
}

#profile img {
  border-radius: 50%;
  margin-left: 10px;
  height: 450px;
  width: 450px;

}

#profile h1 {
  font-family: "Sofia", sans-serif;
  color: #fcfafa;
  font-weight: 500;
  margin-left: 70px;

}

#profile p {
  font-family: "Sofia", sans-serif;
  font-weight: bolder;
  color: #fcfafa;
  margin-left: 130px;
}

#About {
  padding: 30px 0;
}

#About .card-header {
  background-color: #050621;
}

#About h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: bolder;
  background: linear-gradient(90deg, rgb(240, 240, 242) 0%, #050505 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#About p {
  font-family: "Audiowide", sans-serif;
  font-weight: bold;
}

#contact-me h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: bolder;
}
#My-Projects {
  padding: 150px 0;
}

#My-Projects .card-header {
  background: #050621;
}

#My-Projects h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: bolder;
  background: linear-gradient(90deg, rgb(240, 240, 242) 0%, #050505 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#My-Projects h5 {
  font-family: "Audiowide", sans-serif;
  font-weight: bolder;
}

#My-Projects p {
  font-family: "Audiowide", sans-serif;
  font-weight: bold;
}
#contact-me {
  padding: 10px 0;
}

#contact-me label {
  font-family: "Audiowide", sans-serif;
  font-weight: bold;
}

.card-body .btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #2a6287;

}

.section-contact {
  padding: 120px;
  background-color: #fff;
}

.section-contact .header-section .title {
  position: relative;
  margin-bottom: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 55px;
}

.section-contact .header-section .title .dot {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  background-color: #df383f;
}

.section-contact .header-section .description {
  font-family: "Roboto", sans-serif;
  color: #050621;
}

.section-contact .header-section .big-title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 70%);
  font-size: 120px;
  font-weight: 700;
  opacity: 0.15;
}

.section-contact .form-contact .single-input {
  position: relative;
  margin-top: 40px;
}

.section-contact .form-contact .single-input i {
  position: absolute;
  top: 5px;
  left: 15px;
  color: linear-gradient(90deg, #07395c 0%, #fff 10%, #4e54c8 20%);
}

.section-contact .form-contact .single-input input,
.section-contact .form-contact .single-input textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #07395c;
  padding-left: 50px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: border .3s;
}

.section-contact .form-contact .single-input input::placeholder,
.section-contact .form-contact .single-input textarea::placeholder {
  color: rgba(7, 57, 92, .3);
}

.section-contact .form-contact .single-input input:focus,
.section-contact .form-contact .single-input textarea:focus {
  border-color: #df383f;
}

.section-contact .form-contact .single-input textarea {
  height: 150px;
  min-height: 50px;
}

.section-contact .form-contact .submit-input input {
  margin-top: 40px;
  padding: 15px 50px;
  color: rgb(82, 3, 250);
  border:none;
  box-shadow: 0 0 40px 40px
       #050621 inset,
        0 0 0 0 #050621;
  transition: all 150ms
         ease-in-out;
}

.section-contact .form-contact .submit-input input:hover {
  box-shadow: 0 0 10px 0 
  #050621 inset,
   0 0 10px 4px #050621;
}

a {
  background: linear-gradient(90deg, #0335be 25%, #000 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 575.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 40px;
  }

  .section-contact .header-section .big-title {
    font-size: 80px;
  }

  .section-contact .header-section .description {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 45px;
  }

  .section-contact .header-section .big-title {
    font-size: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 45px;
  }

  .section-contact .header-section .big-title {
    font-size: 100px;
  }
}

footer {
  background-color: #050621;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  font-family: "Audiowide", sans-serif;
}

.icon {
  text-decoration: none;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a4ccb;
  color: rgb(55, 0, 255);
  border-radius: 50%;
  box-shadow: 5px 5px 10px #1634ad,
    -5px -5px 10px #1e6ce9;
}

.icon:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 5px 5px 10px #1634ad,
    inset -5px -5px 10px #1e6ce9;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 0.7em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-word {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(250, 250, 250, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-word {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
      opacity: 0.1;
  }
  2% {
      opacity: 0.1;
  }
  4% {
      opacity: 0.5;
  }
  19% {
      opacity: 0.5;
  }
  21% {
      opacity: 0.1;
  }
  23% {
      opacity: 1;
  }
  80% {
      opacity: 0.5;
  }
  83% {
      opacity: 0.4;
  }

  87% {
      opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
      opacity: 0.1;
  }

  2% {
      opacity: 1;
  }

  8% {
      opacity: 0.1;
  }

  9% {
      opacity: 1;
  }

  12% {
      opacity: 0.1;
  }
  20% {
      opacity: 1;
  }
  25% {
      opacity: 0.3;
  }
  30% {
      opacity: 1;
  }

  70% {
      opacity: 0.7;
  }
  72% {
      opacity: 0.2;
  }

  77% {
      opacity: 0.9;
  }
  100% {
      opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
      opacity: 0.1;
  }
  2% {
      opacity: 1;
  }
  4% {
      opacity: 0.1;
  }

  8% {
      opacity: 1;
  }
  70% {
      opacity: 0.7;
  }
  100% {
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
      font-size: 1em;
  }
}


.glowing-btn-nav {
  position: relative;
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--nav-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 0.6em;
  font-weight: 900;
  letter-spacing: 1em;
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--nav-color),
      0px 0px 0.5em 0px var(--nav-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--nav-color),
      0px 0px 0.5em 0px var(--nav-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--nav-color),
      0px 0px 0.5em 0px var(--nav-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-word-nav {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--nav-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--nav-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--nav-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter-nav {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--nav-color);
  pointer-events: none;
}

.glowing-btn-nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--nav-color);
  box-shadow: 0 0 2em 0.2em var(--nav-color);
  transition: opacity 100ms linear;
}

.glowing-btn-nav:hover {
  color: rgba(250, 250, 250, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn-nav:hover .glowing-word {
  animation: none;
}

.glowing-btn-nav:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn-nav:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn-nav:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
      opacity: 0.1;
  }
  2% {
      opacity: 0.1;
  }
  4% {
      opacity: 0.5;
  }
  19% {
      opacity: 0.5;
  }
  21% {
      opacity: 0.1;
  }
  23% {
      opacity: 1;
  }
  80% {
      opacity: 0.5;
  }
  83% {
      opacity: 0.4;
  }

  87% {
      opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
      opacity: 0.1;
  }

  2% {
      opacity: 1;
  }

  8% {
      opacity: 0.1;
  }

  9% {
      opacity: 1;
  }

  12% {
      opacity: 0.1;
  }
  20% {
      opacity: 1;
  }
  25% {
      opacity: 0.3;
  }
  30% {
      opacity: 1;
  }

  70% {
      opacity: 0.7;
  }
  72% {
      opacity: 0.2;
  }

  77% {
      opacity: 0.9;
  }
  100% {
      opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
      opacity: 0.1;
  }
  2% {
      opacity: 1;
  }
  4% {
      opacity: 0.1;
  }

  8% {
      opacity: 1;
  }
  70% {
      opacity: 0.7;
  }
  100% {
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn-nav {
      font-size: 1em;
  }
}
.Btn-3 {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(197, 198, 205);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(197, 198, 205);
  border-left: 2px solid rgb(197, 198, 205);
  border-right: 2px solid rgb(197, 198, 205);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: .3s;
}

.Btn-3:hover .tooltip {
  opacity: 1;
  transition-duration: .3s;
}

.Btn-3:hover {
  background-color: rgb(21, 5, 113);
  transition-duration: .3s;
}

.Btn-3:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn-3:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
